$color1: #02f4e7;
$color2: #02e1d5;
$color3: #01cec2;
$color4: #01bab0;
$color5: #00a79d;
$color6: black;
$color7: white;
$color8: #dc3545;

$fonte-padrao: arial, verdana, helvetica, sans-serif;
$fonte-texto: "Poppins", sans-serif;
